.container-input{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.input-text{
    height: 40px;
    width: 600px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 15px;
    transition: 0.5s;
    outline: none;
}
.input-text::placeholder{
    font-size: 18px;
}
.input-text:focus{
    border: 2px solid #64ac8f;
    background-color: #4b6154;
    opacity: .5;
    color: #fff;
}
.input-text:focus::placeholder{
 color: #fff;
}

.gg-add-r{
    margin-left: 45px;
    margin-top: 7px;
    --ggs: 2;
    display: flex;
    color: antiquewhite;
    background-color: transparent;
    transition: 0.5s;
    cursor: pointer;
}
.gg-add-r:hover{
    color: #64ac8f;
}